USE [master]
GO
/****** Object:  Database [TodoListDB_AdoNet]    Script Date: 28.7.2016 11:17:09 ******/
CREATE DATABASE [TodoListDB_AdoNet]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoListDB_AdoNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoListDB_AdoNet]
GO
/****** Object:  Table [dbo].[Gorevler]    Script Date: 28.7.2016 11:17:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gorevler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Konu] [nvarchar](20) NOT NULL,
	[Durum] [bit] NOT NULL,
	[OlusturmaTarihi] [date] NOT NULL,
	[GuncellemeTarihi] [date] NULL,
 CONSTRAINT [PK_Gorevler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
